
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<button type="button" id="btngetlist" class="btn btn-outline-primary">Yazar Listesi</button>
<button type="button" id="btngetbyid" class="btn btn-outline-success">Yazar Getir</button>
<button type="button" id="btnaddwriter" class="btn btn-outline-info">Yazar Ekle</button>
<button type="button" id="btndeletewriter" class="btn btn-outline-danger">Yazar Sil</button>
<button type="button" id="btnupdatewriter" class="btn btn-outline-warning">Yazar Güncelle</button>
<br />
<br />
<div id="writerlist">
 
</div>
<br />

<div id="writerget">
</div>
<br />


<div>
    <input type="text" class="form-control" id="txtWriterId" placeholder="Yazar ID" />
    <br />

    <input type="text" class="form-control" id="txtWriterName" placeholder="Yazar Adı" />
</div>
<br />
<div>
    <input type="text" class="form-control" id="txtId" placeholder=" Silinecek Yazar ID" />

</div>
<br />
<div>
    <input type="text" class="form-control" id="txtId1" placeholder=" Güncellenecek Yazar ID" />
    <br />

    <input type="text" class="form-control" id="txtWriterName1" placeholder=" Güncellenecek Yazar Adı" />

</div>
@section scripts {
    <script>
        $("#btngetlist").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/WriterList/",
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    console.log(w);
                    let tablehtml = "<table class = table table-bordered > <tr> <th> Yazar ID </th> <th> Yazar Adı </th> </tr> ";
                    $.each(w, (index, value) => {
                        tablehtml += `<tr><td>${value.Id}</td> <td>${value.Name}</td></tr>`

                    });
                    tablehtml += "</table>";
                    $("#writerlist").html(tablehtml);
                }
            });
        });
        $("#btngetbyid").click(x => {
            let id = $("#writerId").val();
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "get",
                url: "/Admin/Writer/GetWriterById/",
                data: { writerId: id },
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    console.log(w);

                    let getValue = `<table class = table table-bordered> <tr> <th> Yazar ID </th> <th> Yazar Adı </th> </tr> <tr> <td>
                                    ${w.Id}</td> <td>${w.Name} </td></tr></table>`;
                    $("#writerget").html(getValue);
                }
            });
        });

        $("#btnaddwriter").click(function () {
            let writer = {
                Id: $("#txtWriterId").val(),
                Name: $("#txtWriterName").val()
            };
            $.ajax({
                type: "post",
                url: "/Admin/Writer/AddWriter/",
                data: writer,
                success: function (func) {
                    let result = jQuery.parseJSON(func);
                    alert("Yazar Ekleme İşlemi Başarılı Bir Şekilde Gerçekleşti.")
                }
            });
        });


        $("#btndeletewriter").click(x => {
            let id = $("#txtId").val();
            $.ajax({
                url: "/Admin/Writer/DeleteWriter/" + id,
                type: "post",
                dataType: "json",
                success: function (func) {
                    alert("Yazar Silme İşlemi Başarılı Bir Şekilde Gerçekleşti.")
                }
            });
        });

        $("#btnupdatewriter").click(function () {
            let writer = {
                Id: $("#txtId1").val(),
                Name: $("#txtWriterName1").val()
            };
            $.ajax({
                type: "post",
                url: "/Admin/Writer/UpdateWriter/",
                data: writer,
                success: function (func) {
                    alert("Güncelleme Yapıldı!")
                }
            });
        });
    </script>
}

