<div class="tech-btm widget_social">
    <h4>Sosyal Medya Hesaplarımız</h4>
    <p>Bizi Takipte Kal!</p> 
    <br />
    <ul>

        <li>
            <a class="twitter" href="https://twitter.com" target="_blank">
                <i class="fab fa-twitter"></i>
                <span class="count"></span> Twitter 
            </a>
        </li>
        <li>
            <a class="facebook" href="https://facebook.com" target="_blank">
                <i class="fab fa-facebook-f"></i>
                <span class="count"></span> Facebook 
            </a>
        </li>
        
        <li>
            <a class="pin" href="https://github.com" target="_blank">
                <i class="fab fa-github"></i>
                <span class="count"></span> GitHub
            </a>
        </li>

    </ul>
</div>