
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<link href="~/web/css/contact.css" rel='stylesheet' type='text/css' />


<body>

    <section class="main-content-w3layouts-agileits">

        <h3 class="tittle">Bize Ulaşın</h3>
        <p class="sub text-center">Düşünceleriniz Bizim İçin Çok Kıymetli</p>
        <div class="contact-map inner-sec">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48126.00931034295!2d28.987312675464157!3d41.07171219923742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab63f6f8193f1%3A0x36c864a929a1018c!2zQmXFn2lrdGHFny_EsHN0YW5idWw!5e0!3m2!1str!2str!4v1659518806276!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen=""
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="ad-inf-sec bg-light">
            <div class="container">
                <div class="address row">

                    <div class="col-lg-4 address-grid">
                        <div class="row address-info">
                            <div class="col-md-4 address-left text-center">
                                <i class="far fa-map"></i>
                            </div>
                            <div class="col-md-8 address-right text-left">
                                <h6>Adres</h6>
                                <p>
                                    İstanbul, Türkiye

                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 address-grid">
                        <div class="row address-info">
                            <div class="col-md-4 address-left text-center">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="col-md-8 address-right text-left">
                                <h6>Mail</h6>
                                <p>
                                    <a href="yagmurbkarabiyik@gmail.com"> yagmurbkarabiyik@gmail.com</a>

                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 address-grid">
                        <div class="row address-info">
                            <div class="col-md-4 address-left text-center">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                            <div class="col-md-8 address-right text-left">
                                <h6>Telefon</h6>
                                <p>+90 111 222 3333</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="contact_grid_right">
                <form method="post">
                    <div class="row contact_left_grid">
                        <div class="col-md-6 con-left">
                            <div class="form-group">
                                <label for="validationCustom01 my-2">Adınız</label>
                                <input class="form-control" type="text" name="ContactUserName" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Mail Adresiniz</label>
                                <input class="form-control" type="email" name="ContactMail" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label for="validationCustom03 my-2">Konu</label>
                                <input class="form-control" type="text" name="ContactSubject" placeholder="" required="">
                            </div>
                        </div>
                        <div class="col-md-6 con-right">
                            <div class="form-group">
                                <label for="textarea">Mesajınız</label>
                                <textarea id="textarea" name ="ContactMessage"placeholder=""></textarea>
                            </div>
                            <input class="form-control" type="submit" value="Gönder">

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
   
</body>
