<div class="row">
    <div class="col-lg-4">
        <div class="widget-head-color-box navy-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold no-margins">
                    @ViewBag.v1
                </h2>
                <small>Core Blog Kurucusu</small>
            </div>
            <img src="@ViewBag.v2" class="rounded-circle circle-border m-b-md" alt="profile" width="150" height="150">
            <div>
                <span>5 Blog</span> |
                <span>7 Yorum</span>

            </div>
        </div>
        <div class="widget-text-box">
            <h4 class="media-heading">
                @ViewBag.v1
            </h4>
            <p>
                @ViewBag.v3
            </p>
            <div class="text-right">
                <a href="" class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> </a>
                <a href="" class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> </a>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="widget lazur-bg p-xl">

            <h2>
                İletişim Bilgileri
            </h2>
            <ul class="list-unstyled m-t-md">
                <li>
                    <span class="fa fa-envelope m-r-xs"></span>
                    <label>Email:</label>
                    yagmur@gmail.com
                </li>
                <li>
                    <span class="fa fa-home m-r-xs"></span>
                    <label>Adres:</label>
                    Çankaya/Ankara
                </li>
                <li>
                    <span class="fa fa-phone m-r-xs"></span>
                    <label>Telefon:</label>
                    (+90) 111 222 333
                </li>
            </ul>

        </div>
        <div class="widget red-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-bell fa-4x"></i>
                <h1 class="m-xs">47</h1>
                <a href="/Notification/Index">
                    <h3 class="font-bold no-margins">
                        Bildirimler
                    </h3>
                </a>

            </div>
        </div>
    </div>

    <div class="widget yellow-bg p-lg text-center">
        <div class="m-b-md">
            <i class="fa fa-warning fa-4x"></i>
            <h1 class="m-xs">ANIMSATICI</h1>
            <ul>
                <li>Cumartesi Onur'un Doğum Günü Var!</li>
                <li>Pazartesi Yeni Blog Eklenecek!</li>
                <li>Salı Günü Ekip Toplantısı Var!</li>
                <li>Cuma Günü Yazarlar Arasında Buluşma Var :)</li>
            </ul>
            <h2>Unutma!</h2>
        </div>
    </div>
</div>
</div>